<script>
window.ANCHORCELL_NAVIGATION = {
  home: {{ '/' | relative_url | jsonify }},
  sections: [
    {% for item in site.data.nav %}
      {% capture section_html %}{% case item.key %}{% when 'news' %}{% include news-index.html %}{% when 'shows' %}{% include shows-list.html %}{% when 'music' %}{% include music-list.html %}{% when 'videos' %}{% include videos-list.html %}{% endcase %}{% endcapture %}
    {
      key: {{ item.key | jsonify }},
      label: {{ item.title | jsonify }},
      url: {{ item.url | relative_url | jsonify }},
      html: {{ section_html | normalize_whitespace | jsonify | replace: '</', '<\/' }}
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
};
</script>
